{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>포트폴리오</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'menus/css/detail_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
</head>
<body>
    <div id="header">
        <div class="container">
            <div class="nav">
                <a href="/menus">
                    <img src="{% static 'menus/images/logo-color.png' %}">
                </a> 
        </div>
    </div>
    <div id="content">
        <div class="container">
            <div class="header">
                <h2>
                    <img src="{% static 'menus/images/menu-txt.svg' %}">
                </h2>
                <div class="menu_img">
                    <img src={%get_static_prefix%}{{menu.img_path}}>
                </div>
                <div class="menu_info">
                    <h3>{{menu.title}}</h3>
                    <h4>{{menu.stack}}</h4>
                    <p class="menu-desc">{{menu.description}}</p>
                    <p class="price"><a href={{menu.url }}><img src="{% static 'menus/images/github.png' %}"/></a>Click icon button</p>
                </div>
                <div class="back-main">
                    <a href="/menus">돌아가기</a>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="footer">

            </div>
        </div>
    </div>
</body>